<div class="app-header-left">
    <ul class="header-menu nav">
        <li class="nav-item">
            <a href="https://www.okta.com/pricing/" class="nav-link" target="blank">
                <i class="nav-link-icon fa fa-money-bill-alt"> </i>
                Pricing
            </a>
        </li>
        <li class="btn-group nav-item">
            <a href="https://www.okta.com/resources/content-library/" class="nav-link" target="blank">
                <i class="nav-link-icon fa fa-book"></i>
                Content Library
            </a>
        </li>
        <li class="dropdown nav-item">
            <a href="https://www.okta.com/partners/meet-our-partners/" class="nav-link" target="blank">
                <i class="nav-link-icon fa fa-handshake"></i>
                Partners
            </a>
        </li>
        <li class="dropdown nav-item">
            <a href="https://www.okta.com/integrations/" class="nav-link" target="blank">
                <i class="nav-link-icon fa fa-cogs"></i>
                OIN
            </a>
        </li>
        <li class="dropdown nav-item">
            <a href="https://trust.okta.com/" class="nav-link" target="blank">
                <i class="nav-link-icon fa fa-chart-line"></i>
                Trust
            </a>
        </li>
        <li class="dropdown nav-item">
            <div class="dropdown btn-group">
                <button class="btn btn-outline-light" onClick="javascript:window.open('https://developer.okta.com', '_blank');"><i class="nav-link-icon fa fa-code"></i>Developer</button>
                <button type="button" aria-haspopup="true" aria-expanded="false" data-toggle="dropdown" class="dropdown-toggle-split dropdown-toggle btn btn-outline-light"><span class="sr-only">Toggle Dropdown</span></button>
                <div tabindex="-1" role="menu" aria-hidden="true" class="dropdown-menu">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a href="https://developer.okta.com/docs/" class="nav-link" target="_blank">SDKs
                                <div class="ml-auto badge badge-pill badge-info">14</div>
                            </a>
                        </li>
                        
                        <li class="nav-item"><a href="https://developer.okta.com/live-widget/" class="nav-link" target="_blank">Live Widget</a></li>
                        <li class="nav-item"><a href="https://github.com/okta/okta-auth-js" class="nav-link" target="_blank">AuthJS</a></li>
                        <li class="nav-item"><a href="https://github.com/okta/okta-signin-widget" class="nav-link" target="_blank">Sign-in Widget</a></li>
                        <li class="nav-item"><a href="https://developer.okta.com/docs/reference/api/oidc/#endpoints" class="nav-link" target="_blank">OIDC and OAuth endpoints</a></li>
                        <li class="nav-item"><a href="https://www.okta.com/resources/whitepaper/okta-security-technical-white-paper/" class="nav-link" target="_blank">Okta Security Technical whitepaper</a></li>
                        <li class="nav-item"><a href="https://developer.okta.com/books/api-security/" class="nav-link" target="_blank">API Security Best Practices Guide</a></li>
                        
                        <li class="nav-item-header nav-item">APIS</li>
                        <li class="nav-item"><a href="https://developer.okta.com/docs/reference/" class="nav-link" target="_blank">Reference</a></li>
                        <li class="nav-item"><a href="https://developer.okta.com/docs/reference/postman-collections/" class="nav-link" target="_blank">Postman collection</a></li>
                        <li class="nav-item"><a href="https://developer.okta.com/docs/reference/rate-limits/" class="nav-link" target="_blank">Rate Limits</a></li>
                    </ul>
                </div>
            </div>
        </li>
    </ul>        
</div>