<!doctype html>
<html lang="en">
{{>head}}

<body>
    <div class="app-container app-theme-white body-tabs-shadow fixed-sidebar fixed-header">
        {{>app-header}}               
        <div class="app-main">
                {{>side-menu}}    
                <div class="app-main__outer">
                    <div class="app-main__inner">
                        <div class="app-page-title">
                            <div class="page-title-wrapper">
                                <div class="page-title-heading">
                                    <div class="page-title-icon">
                                        <i class="pe-7s-magic-wand icon-gradient bg-mean-fruit">
                                        </i>
                                    </div>
                                    <div>Okta for CIAM
                                        <div class="page-title-subheading">Customer Identity Access Management (CIAM) & B2B Identity
                                        </div>
                                    </div>
                                </div> 
                                <div class="page-title-actions">
                                    <div class="d-inline-block dropdown">
                                        <button type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="btn-shadow dropdown-toggle btn btn-info">
                                            <span class="btn-icon-wrapper pr-2 opacity-7">
                                                <i class="fa fa-business-time fa-w-20"></i>
                                            </span>
                                            Demo
                                        </button>
                                        <div tabindex="-1" role="menu" aria-hidden="true" class="dropdown-menu dropdown-menu-right">
                                            <ul class="nav flex-column">
                                                <li class="nav-item">
                                                    <a href="#" class="nav-link" id="resetdemo">
                                                        <i class="nav-link-icon lnr-inbox"></i>
                                                        <span>
                                                            Reset Demo
                                                        </span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>  
                            </div>
                        </div>            
                        <div class="row">
                            <div class="col-lg-6">
                            <p class="pt-20 pb-20 text-success" id="responsemsgok"></p>
                                <div class="row" id="registrationrow">
                                    <div class="col-lg-10">
                                        <div class="main-card mb-3 card">
                                            <div class="card-body">
                                                <h5 class="card-title">Registration Form - Passwordless</h5>
                                                <p class="pt-20 pb-20 text-danger" id="responsemsg"></p>
                                                <form class="" id="registrationform_passwordless" action="#">
                                                    <div class="position-relative row form-group"><label for="exampleMobile" class="col-sm-4 col-form-label">Mobile phone number</label>
                                                        <div class="col-sm-10"><input name="mobile" id="exampleMobile" placeholder="" type="text" class="form-control"></div>
                                                    </div>
                                                    <div class="position-relative row form-check">
                                                        <div class="col-sm-10">
                                                            <button class="btn btn-secondary" style="float: right" id="registerbtn_passwordless">Register</button>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row" id="activationrow" style="display: none">
                                    <div class="col-lg-10">
                                        <div class="main-card mb-3 card">
                                            <div class="card-body">
                                                <form id="passcodeform" action="#">
                                                    <h3>We sent an activation code to your phone, please enter it below</h3>
                                                    <div class="mt-10">
                                                        <input type="text" name="passcode" placeholder="Passcode" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Passcode'" required class="single-input">
                                                    </div>
                                                    <div class="mt-10"><button class="btn btn-primary" id="passcodebtn" style="float: right;">Validate</button></div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="main-card mb-3 card">
                                    <div class="card-body"><h5 class="card-title">Sign-in Widget</h5>
                                        <div id="widget-container" style="margin-top:-90px"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
    </div>
    <div id="userid" style="display:none"></div>
<script type="text/javascript" src="./assets/scripts/main.js"></script>
<script>

var oktaSignInConfig = {
    baseUrl: oktaBaseTenant,
    clientId: clientId,
    redirectUri: 'http://localhost:8899/authorization-code/callback',
    authParams: {
        issuer: issuer,
        display: 'page',
        responseType: ['id_token', 'token'],
        scopes: ['openid', 'email', 'profile']
    },
    logo: '../assets/images/neshpdxgray.png',
    features: { passwordlessAuth: true, webauthn: true  },
};

var signIn = new OktaSignIn(oktaSignInConfig);

signIn.renderEl({ el: '#widget-container' });

myStorage = window.sessionStorage
$(document).ready(function(){
    $('#activationrow').hide();
    $('#responsemsgok').hide();

    $("#resetdemo").click(function(e){
        e.preventDefault();
        const userid = myStorage.getItem("userId");
        console.log("userid: ", userid)
        Promise.resolve()
        .then(async function() {
            // step 1: update the chosen profile
            let updateusr = await $.ajax({
                type: "POST",
                url: "/deleteuser",
                contentType: 'application/json',
                data: JSON.stringify({'userid': userid}),
                success: function(data){
                    console.log("Call result of user delete: ",data);
                },
                error: function(errMsg){
                    console.log("errorMsg: ",errMsg);
                }
            });
        })
        .catch(function(e) 
            {
                console.log("error: "+JSON.stringify(e.message));
            }
        )
        .finally(function() {
            window.location.reload();
        });
    });

    var formData = {};

    $("#registerbtn_passwordless").click(async function(e){
        e.preventDefault();
        var usercreated = false;
        const primaryPhone = $('input[name="mobile"]').val();
        console.log("STEP 0. Mobile phone number: ",primaryPhone);
        formData = {'primaryPhone':primaryPhone};
        formData.groupid = passwordlessSMS_group; //PasswordlessSMS group
        let createuser = await $.ajax({
            type: "POST",
            url: "/createuser",
            contentType: 'application/json',
            data: JSON.stringify(formData),
            success: function(res){
                console.log("call result of okta user create: "+res);
            },
            error: function(errMsg){
                console.log("errorMsg: ",errMsg);
            }
        });

        const newuser = JSON.parse(createuser);
        if(newuser.id != null && newuser.id != ''){
            const userid = newuser.id;
            console.log("userid="+userid);
            myStorage.setItem("userId", userid)
            formData.userid = userid;
            usercreated = true;
        } else {
            displayerr("Error creating user: ",newuser);
        }

        console.log("usercreated=",usercreated);

        if(usercreated){
            formData.factorValue = primaryPhone;
            console.log(formData)
            $.ajax({
                type: "POST",
                url: "/enrollsms",
                contentType: 'application/json',
                data: JSON.stringify(formData),
                success: function(data){
                    console.log("call result of SMS enroll: ",data);
                    const dd = JSON.parse(data);
                    if(dd.id){
                        const factorid = dd.id;
                        formData.factorid = factorid;
                        switchForm(); //clear form and display validation form
                    } else {
                        displayerr(dd);
                    }
                },
                error: function(errMsg){
                    console.log("errorMsg: ",errMsg);
                }
            });
        } else {
            displayerr(createuser);
        }
    });

    $("#passcodebtn").click(async function(e){
        e.preventDefault();
       
        const passcode = $('input[name="passcode"]').val();
        console.log("STEP 0. Passcode: ",passcode);
        formData.passcode = passcode;
        
        let done = await $.ajax({
            type: "POST",
            url: "/activatesms",
            contentType: 'application/json',
            data: JSON.stringify(formData),
            success: function(data){
                console.log("call result of SMS activate: ",data);
                const dd = JSON.parse(data);
                if(dd.id) {
                    $('#responsemsgok').text("Welcome! You have successfully created your account. You may login now using your phone number.");
                    clearForm(); //clear form and display validation form
                }
            },
            error: function(errMsg){
                console.log("errorMsg: ",errMsg);
            }
        });
        
    });
});

function displayerr(msg) {
    $('#responsemsg').text(msg);
}

function displaymsg(msg) {
    $('#responsemsgok').text(msg);
}

function switchForm() {
    $('#registrationrow').hide();
    $('#activationrow').show();
}
function clearForm() {
    $('#passcodeform')[0].reset() // reset the form
    $('#activationrow').hide();
    $('#responsemsgok').show();
}

</script>
</body>
</html>
